@(sensor: Sensor)
@main("Edit Sensor") {
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    @if(sensor == null) {
                        New Sensor
                    } else {
                        Edit Sensor
                    }
                </h4>
            </div>
                <form name="form" method="post"
                    @if(sensor == null) {
                        action="@routes.SensorCtrl.createSensor()"
                    } else {
                        action="@routes.SensorCtrl.updateSensor(sensor.getSensorId())"
                    }
                >
                <fieldset>
                    <div class='modal-body'>
                        <form>
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="font-weight : bold ; vertical-align : top ; text-align : right ; padding-right : 20 px">
                                            Label</td>
                                        <td>

                                            <input class="form-control input-md" name="label" type="text" style="width : 350 px"
                                                @if(sensor != null) {
                                                    value="@sensor.getLabel()"
                                                }
                                            >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td></br></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight : bold ; vertical-align : top ; text-align : right ; padding-right : 20 px">
                                            Description</td>
                                        <td><textarea class="form-control" name="description" type="text" style="width : 350 px ; height : 100 px">@if(sensor != null) {@sensor.getDescription()}</textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class='modal-footer'>
                        <button type="submit" class="btn btn-primary">OK</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div><!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
}








