<!DOCTYPE html>
<html>
    <head>
        <title>Oops!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainerr.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/error.css")">
        <link rel="icon" type="image/ico" href="favicon.ico" />
    </head>
    <body>
        <div id="error">
            <h1>Error <span class="code">404</span></h1>
            <p>We couldn't find this page.</p>
            <p class="button-wrapper">
                <a class="button dark" href="/#/">Go back to home</a>
            </p>
        </div>
    </body>
</html>