@()<!DOCTYPE html>
<html>
  <head>
    <title data-ng-bind="pageTitle"></title>
    <base href="/">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
@*    @import play.api.Play.current
    @import play.api.Mode
    @if(current.mode == Mode.Dev) {
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
    }
    @if(current.mode == Mode.Prod) {
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" />
    }*@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/magic-bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/loading-bar.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")" />
      @*-- Add More CSS here -- *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/range-slider.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-switch.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/angular-toaster.css")">
    <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
  </head>
  <body>
      <toaster-container toaster-options="{'position-class': 'toast-navbar-right'}"></toaster-container>
      <div data-ui-view="main"></div>
  </body>
</html>
