<div class="page-header"><h1>Log In <small>Use any email/password</small></h1></div>
<form name="form">
  <fieldset>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" style="width: 30%;" class="form-control" data-ng-model="credentials.email" placeholder="E-Mail" required /><br />
      <label for="password">Password</label>
      <input type="password" style="width: 30%;" class="form-control input-large" data-ng-model="credentials.password" placeholder="Password" required /><br />
      <button class="btn btn-primary" data-ng-disabled="form.$invalid" data-ng-click="login(credentials)">Log In</button>
    </div>
  </fieldset>
</form>
